streamlit==1.31.0
requests==2.31.0
pandas==2.2.0
plotly==5.18.0
python-dotenv==1.0.0
sseclient-py==1.8.0
pillow==10.2.0
matplotlib==3.8.2
psycopg2-binary==2.9.9
geopandas==0.14.2
shapely==2.0.2
fiona==1.9.5
langchain==0.3.22
langchain-openai==0.3.3
langchain-community==0.3.20
langchain-core==0.3.49
langsmith==0.3.22
langchain-text-splitters==0.3.7
altair==5.2.0
streamlit-folium==0.15.1
folium==0.15.1 