fastapi==0.109.2
uvicorn==0.27.1
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pydantic==2.11.1
pydantic-settings==2.8.1
pandas==2.2.0
plotly==5.18.0
langchain==0.3.22
langchain-openai==0.3.3
langchain-community==0.3.20
langchain-core==0.3.49
langsmith==0.3.22
langchain-text-splitters==0.3.7
python-multipart==0.0.9
streamlit==1.32.0
numpy==1.26.4
aiohttp==3.9.3
chromadb==0.4.22
langgraph==0.3.2
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
httpx==0.28.1
vanna==0.0.26
geopandas==0.14.2
shapely==2.0.2
altair==5.2.0 